<html>
  <head>
    <!-- Moralis SDK code -->
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://unpkg.com/moralis/dist/moralis.js"></script>
  </head>
  <body>
    <h1>IPFS Demo</h1>

    <button onclick=login() id="btn-login">Login</button>
    <br>
    <input type="text" name="metadataName" id="metadataName" placeholder="name">
    <br>
    <textarea name="metadataDescription" id="metadataDescription" cols="30" rows="10"></textarea>
    <br>
    <input type="file" name="fileInput" id="fileInput">
    <br>
    <br>
    <button onclick=gogogo()>Gogogo</button>

    <script>
      // connect to Moralis server

      const serverUrl = "https://lvqyy2x5hclx.usemoralis.com:2053/server";
      const appId = "fwS1doTwLeR1qmLcYypMBDYpMpgOP6QFzlCXmRdD";
      Moralis.start({ serverUrl, appId });

      //Login function
    login = async () => {
        Moralis.authenticate().then(function (user) {
            console.log('Logged in')
        })
    }

      //Upload an image
      uploadImage = async () => {
        const data = fileInput.files[0]
        const file = new Moralis.File(data.name, data)
        await file.saveIPFS({useMasterKey:true});
        
        console.log(file.ipfs(), file.hash())
        return file.ipfs();
    }
      
      //Upload metadata object
      uploadMetadata = async (imageURL) => {

        const name = document.getElementById('metadataName').value;
        const description = document.getElementById('metadataDescription').value;

        const metadata = {
            "name": name,
            "description": description,
            "image": imageURL
        }

        const file = new Moralis.File("file.json", {base64 : btoa(JSON.stringify(metadata))});
        await file.saveIPFS({useMasterKey:true});

        console.log(file.ipfs());
      }
      
      //Function to gogogo
      gogogo = async () => {
          const image = await uploadImage();
          await uploadMetadata(image);
      }

    </script>
  </body>
</html>