<!-- navbar  -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="/images/logo.png" alt="" width="45" height="40"/>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#about_us" class="nav-link">About us</a>
          </li>
          <li class="nav-item">
            <a href="#getwings" class="nav-link">GetWings</a>
          </li>
          <li class="nav-item">
            <a href="#clients" class="nav-link">Clients</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#team" class="nav-link">Team</a>
          </li>
          <li class="nav-item">
            <a href="#faq" class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="#contact-footer" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
</nav>


<!-- home section -->
<section id="home" class="bg-light text-dark p-5 p-lg-0 pt-lg-0 text-center text-sm-start">
    <div class="container-fluid mt-0 bg-dark text-light p-3">
      <h1 class="text-center">We are <span class="text-primary">Work Allied</span></h1>
    </div>
    <div class="container mt-2">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
            <h1>Building solution for<span class="text-primary"> Businesses </span></h1>
            <code>“Where focus goes, energy flows”</code>
            <p class="lead my-4">
                To help you give undivided focus to your innovation, startup or idea, we are providing a one-stop complete destination for all your work. From content writing, graphic designing, event management to ensuring your organization gets a humongous social media outreach, we got it all covered for you.
            </p>
            <p class="lead my-4">So just contact us and then hold back and focus on your core idea rather than taking tension. We would get the rest of the all work done from all 360 degrees.</p>
            
            <a href="#about_us">
                <button class="lead btn btn-primary py-2 px-5">Explore us</button>
            </a>
            </div>
            <img
            class="img-fluid w-50 d-none d-sm-block"
            src="images/intro-img.svg"
            alt=""
            />
        </div>
    </div>
</section>







<!-- about us -->
<section id="about_us" class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container-fluid bg-dark text-light p-3 mb-5">
        <h1 class="text-center">About us</h1>
    </div>
    <div class="container mb-5">
        <div class="d-sm-flex align-items-center justify-content-between">
            <img
            class="img-fluid w-50 d-none d-sm-block"
            src="images/about_us.svg"
            alt=""
            />
            <div>

            <p class="lead my-4">
              We are a group of enthusiasts trying to lessen the burden of the budding entrepreneurs by providing a SINGLE STOP SOLUTION to all their problems with guaranteed quality work in all arenas, saving them time and effort.
            </p>
            <p class="lead my-4">
              We are out here assembling a team of freelancers who have relevant skills and are keen to work in a team within a startup environment. With the assembled members, we devise “tailor made solutions” to look after your business/ startup and ensure its steady growth.
            </p>

            </div>
            
        </div>
    </div>
    
</section>




<!-- getwings -->
<section id="getwings" class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container-fluid bg-dark text-light p-3 mb-5">
        <h1 class="text-center">GetWings</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img
                class="img-fluid d-sm-block mx-auto mb-5"
                src="images/developer.svg"
                alt=""
                width="250"
                height="250"
                />
                <h2 class="text-center">Students</h2>
                <p class="lead my-4">
                  Looking for an opportunity to monetize your skills while getting an experience of startup work culture?  Join us to work as a team and cater to a variety of businesses while working in the arena of your choice, providing diverse experience in all fields. 
The link below is pandora’s box to opportunities.
 
                </p>
                <div class="d-grid gap-2 mb-5">
                  <a href="/student/login"  class="btn btn-outline-primary">
                    Log In
                  </a>  
                </div>
            </div>
            <div class="col-md-6">
                <img
                class="img-fluid d-sm-block mx-auto mb-5"
                src="images/entrepreneur.svg"
                alt=""
                width="317"
                height="317"
                />
                <h2 class="text-center">Admins</h2>
                <p class="lead my-4">
                  Tired of looking after your business/startup completely on your own?
Work allied is here to ease your burden by providing complete packages to look after the maintenance and growth of your business from all angles. 
So why look out for freelancers individually and worry regarding the same.
                </p>
                <div class="d-grid gap-2 mb-5">
                  <a href="/admin/login"  class="btn btn-outline-primary">
                    Log In
                  </a>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container col-md-6 mx-auto">
      <h2 class="text-center">Admin Login</h2>
      <p class="lead my-4">
        Already a team member at Work Allied?
The work you do shapes someone's dream. Click below to continue contributing with your skills and experiencing the journey with us. Welcome back on board.
      </p>
      <div class="d-grid gap-2 mb-5">
        <a href="/admin/login"  class="btn btn-outline-primary">
          Log In
        </a>
      </div>
    </div> -->
    
</section>

<!-- service section -->
<section id="services"  class="bg-blue text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container-fluid bg-dark text-light p-3 mb-5">
    <h1 class="text-center">Services</h1>
  </div>
  
  <div class="container">
    <p class="lead my-4 text-center mx-auto">
      In order to save our clients time and efforts to look into each and every aspect of their business, we provide a complete package to take care of the reach and growth of the business ensuring its distinct presence in the relevant market.
    </p>
    <p class="lead my-4 text-center mx-auto">
      Be it marketing, advertising, creating a presence on digital platforms, or supplementing you with market-relevant content, we got you covered from all ends.
    </p>
    <p class="lead my-4 text-center mx-auto">
      You just have to specify your requirements and expectations, rest all will be offered to you from our end. Our experts would provide you with ideas/methods to boost up your performance while our team would provide wings to your ideas by exploring all the opportunities possible.
    </p>
  </div>

  <div class="container mt-2">
      <div class="row">

        <div class="col-md-4 item">
          <div class="card item-card card-block mx-auto">
              <img class="img-services" src="/images/services/Video.png" alt="Image">
              <h5 class="card-title  mt-3 mb-3">Video Editing</h5>
              <p class="card-text">Reach out to the masses with effective ways of videography.</p> 
          </div>
        </div>
        
        <div class="col-md-4 item">
          <div class="card item-card card-block mx-auto">
              <img class="img-services" src="/images/services/Website.png" alt="Photo of sunset">
              <h5 class="card-title  mt-3 mb-3">Website Creation</h5>
              <p class="card-text">Turn your ideas into a website for its online presence.</p> 
          </div>
        </div>
        
        
        <div class="col-md-4 item">
          <div class="card item-card card-block mx-auto">
              <img class="img-services" src="/images/services/Graphic.png" alt="Photo of sunset">
              <h5 class="card-title  mt-3 mb-3">Graphic Designing</h5>
              <p class="card-text">Deliver and convey your ideas through elegant designs.</p> 
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4 item">
          <div class="card item-card card-block mx-auto">
              <img class="img-services" src="/images/services/App.png" alt="Photo of sunset">
              <h5 class="card-title  mt-3 mb-3">App Creation</h5>
              <p class="card-text">In the era of phones, make sure your business doesn’t miss any opportunity.</p> 
          </div>
        </div>

        <div class="col-md-4 item">
          <div class="card item-card card-block mx-auto">
              <img class="img-services" src="/images/services/Social.png" alt="Photo of sunset">
              <h5 class="card-title  mt-3 mb-3">Social media handling</h5>
              <p class="card-text">Get your social media handles managed by us to increase reach</p> 
          </div>
        </div>

        <div class="col-md-4 item">
          <div class="card item-card card-block mx-auto">
              <img class="img-services" src="/images/services/Mentorship.png" alt="Photo of sunset">
              <h5 class="card-title  mt-3 mb-3">Mentorship</h5>
              <p class="card-text">Grow your business with the best guidance that too in the right direction.</p> 
          </div>
        </div>
        
      </div>

      <div class="row">
        

        <div class="col-md-4 item">
          <div class="card item-card card-block mx-auto">
              <img class="img-services" src="/images/services/Content.png" alt="Photo of sunset">
              <h5 class="card-title  mt-3 mb-3">Content Writing</h5>
              <p class="card-text">Prepare the best content to reflect your idea.</p> 
          </div>
        </div>

        <div class="col-md-4 item">
          <div class="card item-card card-block mx-auto">
              <img class="img-services" src="/images/services/Digital.png" alt="Photo of sunset">
              <h5 class="card-title  mt-3 mb-3">Digital marketing</h5>
              <p class="card-text"> Marketing on many platforms to make your products sell like hotcakes.</p> 
          </div>
        </div>
      </div>

    </div>
    
</section>



<!-- FAQ -->
<section id="faq" class="bg-blue text-dark p-5 p-lg-0 pt-lg-5 text-sm-start mb-5">
  <div class="container-fluid bg-dark text-light p-3 mb-5">
    <h1 class="text-center">Frequently Asked Questions</h1>
  </div>

  <div class="container">
    <!-- <h2 class="text-center mb-4">Frequently Asked Questions</h2> -->
    <div class="container">
      <img
        class="img-fluid w-50 d-none d-sm-block mx-auto"
        src="images/faq.svg"
        alt=""
      />
    </div>
    <div class="accordion accordion-flush" id="questions">
      <!-- Item 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-one"
          >
            Where exactly are you located?
          </button>
        </h2>
        <div
          id="question-one"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            We are working fully virtually.
          </div>
        </div>
      </div>
      <!-- Item 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-two"
          >
          Does company offers a free trial to customers?
          </button>
        </h2>
        <div
          id="question-two"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Yes, we offer a free trials. Do enjoy it!
          </div>
        </div>
      </div>
      <!-- Item 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-three"
          >
          Work Allied is a freelancer community or something?
          </button>
        </h2>
        <div
          id="question-three"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            No, it is not a platform where you have to find a freelancer. We have an inhouse team who develop and manage all your work.
          </div>
        </div>
      </div>
      <!-- Item 4 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-four"
          >
          How long will it take to approve my project?
          </button>
        </h2>
        <div
          id="question-four"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            In 24 hours, we’ll get back to you. In case there is delay, you can mail/text us anytime.
          </div>
        </div>
      </div>
      <!-- Item 5 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-five"
          >
          Do you help me find a job?
          </button>
        </h2>
        <div
          id="question-five"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Yes, you can apply for job in developers section just signup and send us a request then we’ll have a meeting which we will inform you.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





