<!-- navbar  -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
  <div class="container">
    <a href="#" class="navbar-brand">
      <img src="/images/logo.png" alt="" width="45" height="40" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about_us" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="#getstarted" class="nav-link">Get Started</a>
        </li>
        <li class="nav-item">
          <a href="#services" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a href="#contact-footer" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- home section -->
<section
  id="home"
  class="bg-light text-dark p-5 p-lg-0 pt-lg-0 text-center text-sm-start"
>
  <div class="container-fluid mt-0 bg-dark text-light p-3">
    <h1 class="text-center">
      It's a <span class="text-primary">DocLock</span>
    </h1>
    <p class="text-center text-info">
    <span>
        <img src="/images/ipfs-logo.png" alt="" width="40" height="40" />
    </span>    
    Stored on IPFS
    </p>
  </div>
  <div class="container mt-2">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Digital Document<span class="text-primary"> Wallet</span></h1>
        <code>“Your documents, anytime, anywhere”</code>
        <p class="lead my-4">
          DocLock is your dedicated one-stop solution for hassle-free access of
          all your important documents
        </p>
        <p class="lead my-4">
          A centralized system for an organisation, which is yet decentralized!
        </p>

        <a href="#about_us">
          <button class="lead btn btn-primary py-2 px-5">Explore us</button>
        </a>
      </div>
      <img
        class="img-fluid w-50 d-none d-sm-block"
        src="images/home.png"
        alt=""
      />
    </div>
  </div>
</section>

<!-- about us -->
<section
  id="about_us"
  class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
>
  <div class="container-fluid bg-dark text-light p-3 mb-5">
    <h1 class="text-center">About us</h1>
  </div>
  <div class="container mb-5">
    <div class="d-sm-flex align-items-center justify-content-between">
      <img
        class="img-fluid w-50 d-none d-sm-block"
        src="images/about_us.svg"
        alt=""
      />
      <div>
        <p class="lead my-4">
          As we know that throughout the span of our college life, a lot of
          documents and certificates come our way. Many documents are submitted
          by us and many more are provided by the institute. The entire process
          is cumbersome and time-consuming. Also, they are not organized at a
          single place. This process can be simplified by our idea of "DocLock".
        </p>
        <p class="lead my-4">
          DocLock is a dedicated one-stop solution for all these problems. The
          administrative overhead would be reduced at each step, starting from
          the process of registration to semester results, events certificates
          and many more. All these things would be just a click away. But there
          is a catch to it. These documents will not be stored in a centralized
          database instead they will be stored in a decentralized manner. Also,
          it has many future prospects such as digital document exchange with
          authentication.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- get started -->
<section
  id="getstarted"
  class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
>
  <div class="container-fluid bg-dark text-light p-3 mb-5">
    <h1 class="text-center">Get Started</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          class="img-fluid d-sm-block mx-auto mb-5"
          src="images/developer.svg"
          alt=""
          width="250"
          height="250"
        />
        <h2 class="text-center">Students</h2>
        <p class="lead my-4">
          Tired of saving all your documents again and again? Do you also forget
          where have you saved your important certificates? Then DocLock is the
          solution for you! Login to your account provided by the admin.
        </p>
        <div class="d-grid gap-2 mb-5">
          <a href="/student/login" class="btn btn-outline-primary"> Log In </a>
        </div>
      </div>
      <div class="col-md-6">
        <img
          class="img-fluid d-sm-block mx-auto mb-5"
          src="images/entrepreneur.svg"
          alt=""
          width="317"
          height="317"
        />
        <h2 class="text-center">Admins</h2>
        <p class="lead my-4">
          Are you ready to reduce your administrative overhead? You no more need
          to send certificates and important documents to each and everyone
          separately, because you now you have been DocLocked!
        </p>
        <div class="d-grid gap-2 mb-5">
          <a href="/admin/login" class="btn btn-outline-primary"> Log In </a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container col-md-6 mx-auto">
      <h2 class="text-center">Admin Login</h2>
      <p class="lead my-4">
        Already a team member at Work Allied?
The work you do shapes someone's dream. Click below to continue contributing with your skills and experiencing the journey with us. Welcome back on board.
      </p>
      <div class="d-grid gap-2 mb-5">
        <a href="/admin/login"  class="btn btn-outline-primary">
          Log In
        </a>
      </div>
    </div> -->
</section>

<!-- service section -->
<section
  id="services"
  class="bg-blue text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
>
  <div class="container-fluid bg-dark text-light p-3 mb-5">
    <h1 class="text-center">Services</h1>
  </div>

  <div class="container">
    <p class="lead my-4 text-center mx-auto"></p>
  </div>

  <div class="container mt-2">
    <div class="row">
      <div class="col-md-4 item">
        <div class="card item-card card-block mx-auto">
          <img
            class="img-services"
            src="/images/services/Website.png"
            alt="Photo of sunset"
          />
          <h5 class="card-title mt-3 mb-3">Reduced Administrative Overhead</h5>
          <p class="card-text">By curtailing the verification process.</p>
        </div>
      </div>

      <div class="col-md-4 item">
        <div class="card item-card card-block mx-auto">
          <img
            class="img-services"
            src="/images/services/Digital.png"
            alt="Photo of sunset"
          />
          <h5 class="card-title mt-3 mb-3">Digital Document Exchange</h5>
          <p class="card-text">
            Now you can carry all your documents in your pocket.
          </p>
        </div>
      </div>

      <div class="col-md-4 item">
        <div class="card item-card card-block mx-auto">
          <img
            class="img-services"
            src="/images/services/block.png"
            alt="Photo of sunset"
          />
          <h5 class="card-title mt-3 mb-3">Decentralized Storage</h5>
          <p class="card-text">
            Reduces administrative overhead by curtailing the verification
            process through dApp.
          </p>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4 item">
        <div class="card item-card card-block mx-auto">
          <img
            class="img-services"
            src="/images/services/Graphic.png"
            alt="Photo of sunset"
          />
          <h5 class="card-title mt-3 mb-3">Minimize paper usage</h5>
          <p class="card-text">
            Aimed at the concept of paperless official work.
          </p>
        </div>
      </div>

      <div class="col-md-4 item">
        <div class="card item-card card-block mx-auto">
          <img
            class="img-services"
            src="/images/services/Content.png"
            alt="Photo of sunset"
          />
          <h5 class="card-title mt-3 mb-3">Authentic Documents</h5>
          <p class="card-text">
            Authentic Documents, Legally at Par with Originals.
          </p>
        </div>
      </div>

      <div class="col-md-4 item">
        <div class="card item-card card-block mx-auto">
          <img
            class="img-services"
            src="/images/services/Mentorship.png"
            alt="Photo of sunset"
          />
          <h5 class="card-title mt-3 mb-3">Digital Transformation</h5>
          <p class="card-text">Provides trusted issued documents.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<section id="contact-footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 p-3">
              <div class="mt-4">
                  <img src="/images/logo.png" width="80px" height="80px" alt="">
              </div>
              
              <h1 class="text-primary">DocLock</h1>
              <p class="text-light">"Digital Document Wallet"</p>
              <h6 class="text-light">Built at Hack36</h6>
              <h6 class="text-light">By: </h6>
              <h6 class="text-light">&nbsp Abhishek Vaishnav</h6>
              <h6 class="text-light">&nbsp Prakhar Jain</h6>
              <h6 class="text-light">&nbsp Sneha Singh</h6>
              <h6 class="text-light">MNNIT Allahabad</h6>
              
              
          </div>

          <div class="col-lg-3 col-md-3 col-sm-12 p-3">
              <h4 class="text-warning mt-4">FOLLOW US</h4>
              <a class="text-light mr-4" href="https://www.facebook.com/workallied/" style="text-decoration:none" target="_blank"><i class="fa fa-facebook"></i></a>
              <a class="text-light mr-4" href="https://instagram.com/workallied" style="text-decoration:none" target="_blank"><i class="fa fa-instagram"></i></a>
              <a class="text-light mr-4" href="https://www.linkedin.com/company/work-allied" style="text-decoration:none" target="_blank"><i class="fa fa-linkedin"></i></a>
              <a class="text-light mr-4" href="http://m.me/workallied" style="text-decoration:none" target="_blank"><i class="fa fa-envelope"></i></a>

              <h4 class="text-warning mt-4">EXPLORE</h4>
              <a class="text-light mr-4" href="#home" style="text-decoration:none" ><i class="fa fa-link"></i> Home</a><br>
              <a class="text-light mr-4" href="#about_us" style="text-decoration:none" ><i class="fa fa-link"></i> About Us</a><br>
              <a class="text-light mr-4" href="#getstarted" style="text-decoration:none" ><i class="fa fa-link"></i> Get Started</a><br>
              <a class="text-light mr-4" href="#services" style="text-decoration:none" ><i class="fa fa-link"></i> Services</a><br>

          </div>
          

          <div class="col-lg-3 col-md-3 col-sm-12 p-3">
              <h4 class="text-warning mt-4">SUBSCRIBE TO OUR NEWSLETTER</h4>
              <div class="input-group mt-4">
                  <input type="email" class="form-control" placeholder="Enter your email">
                  <span>
                  <a class="btn btn-primary text-light" type="submit">Subscribe</a>
                  </span>
              </div>

          </div>
      </div>
      <hr class="text-warning">

      <!-- 2nd row -->
      <!-- <footer class="text-center p-3">
          <span class="text-warning">Designed <i class="fa fa-paint-brush"></i> and &#60;&#47;&#62; by 
              <a href="https://abhishek0777.github.io/" class="text-warning" target="_blank" style="text-decoration: none;">
                  EDC Owners
              </a>
              <br>
          </span> 
          <span style="color:#f1eaea">&copy; Copyright 2022 | All rights reserved | DocLock </span>
      </footer> -->
  </div>
</section>