
<section id="home" class="bg-light text-dark p-5 p-lg-0 pt-lg-0 text-center text-sm-start">
    <div class="container-fluid mt-0 bg-dark text-light p-3">
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Registration Number of Student</label>
        <input type="text" class="form-control" id="registrationNumber" aria-describedby="emailHelp" placeholder="Enter registration number">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">File Name</label>
        <input type="text" class="form-control" id="fileName" aria-describedby="emailHelp" placeholder="Enter file name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">File Description</label>
        <input type="text" class="form-control" id="fileDescription" aria-describedby="emailHelp" placeholder="Enter file description">
      </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </form>
</div>
</section>