<!-- <section class="bg-blue text-dark p-lg-0 text-center text-sm-start">
    <div class="container-fluid bg-warning text-dark p-3">
        <img src="/images/logo.png" alt="logo" class="mx-0">
        <h1 class="text-center">Back to Home Page</h1>
    </div>
    <div class="container-fluid bg-dark text-light p-3 mb-5">
        <h1 class="text-center">Sign Up</h1>
    </div>
</section> -->

<!-- navbar  -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="/images/logo.png" alt="" width="45" height="40"/>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ml-auto p-0">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#about_us" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#getstarted" class="nav-link">Get Started</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#contact-footer" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
</nav>


<section id="signup" class=" text-dark p-lg-0 text-sm-start">
    <div class="container-fluid bg-warning text-dark p-3 mb-5">
        <h1 class="text-center">Student's Log In</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <div class="container-fluid mt-0 text-light p-3">
                    <h1 class="text-dark">It's a <span class="text-warning">DocLock</span></h1>
                </div>
                <img
                class="img-fluid d-none d-md-block "
                src="/images/developers-login.svg"
                alt=""
                />
            </div>
            <div class="col-md-6 mx-auto mt-5">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

                <h3 class="mt-3" style="color: #6C63FF;">Hey Student, Start DocLocking...</h3>

                <form action='/student/login' method="POST">
                
                    <div class="form-group">
                        <label for="email" class="lead">Registration Number</label> 
                        <input id="email" name="registrationNumber" placeholder="Registration Number" type="text" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="password" class="lead">Password</label> 
                        <input id="password" name="password" placeholder="Password" type="password" class="form-control">
                    </div>
                   
                    <!-- <p class="lead">Forgot Password? <a id="forgot-password-click-here" href="" style="text-decoration: none;" onclick="return forgot_password()"  data-toggle="modal">Click here</a></p> -->
                    <div class="form-group">
                      <button type="submit" class="btn text-light mt-2" style="background-color:#6C63FF; width: 100%;">Log In</button>
                    </div>
                </form>


                <!-- modal forgot password -->
                <div class="modal fade" id="forgot-password-modal" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="background-color:#6C63FF;">
                        <h5 style="color:white" class="modal-title" id="OTPModalTitle">Forgot Password?</h5>
                      </div>

                      <p class="text-center mt-3">Enter your account email below to get your new password.Once you click on 'Reset Password',new password of account sent to your mail box.Login using that password once, and then you can change password of your account.</p>

                      <div class="modal-body">
                        
                        <form action="/developers/save-new-password" method="POST">
                          <div class="form-group">
                            <label for="forgotPasswordEmail" class="lead">Email</label> 
                            <input id="forgotPasswordEmail" name="forgotPasswordEmail" placeholder="Type your email" type="text" class="form-control">
                          </div>
                          <div class="form-group">
                            <!-- <a onclick="return sending_new_password('developers')" class="btn text-light mt-2" style="background-color:#6C63FF; width: 100%;">
                              Send New Password
                            </a> -->
                          </div>
                          <!-- put new password here -->
                          <div class="form-group">
                            <label for="forgotPasswordPassword" class="lead">New Password</label> 
                            <input name="forgotPasswordPassword" type="password" placeholder="Type sent password" type="text" class="form-control">
                          </div>

                          <div class="form-group">
                            <button type="submit" class="btn text-light mt-2" style="background-color:#6C63FF; width: 100%;">
                              Save new Password
                            </button>
                          </div>

                        </form>

                      </div>
                    </div>
                  </div>
                </div>
                

            </div>
        </div>
    </div>
</section>